[Unit]
Description=Gunicorn instance to serve chatroom
After=network.target

[Service]
User=ubuntu
Group=ubuntu
RuntimeDirectory=gunicorn
WorkingDirectory=/home/ubuntu/Documents/flask-socketio
ExecStart=/home/ubuntu/Documents/flask-socketio/venv/bin/gunicorn \
-k geventwebsocket.gunicorn.workers.GeventWebSocketWorker \
-w 1 \
wsgi:app \
-b 0.0.0.0:5000


[Install]
WantedBy=multi-user.target