<html>
    <head>
        <!-- Some basic meta info -->
        <title>Example</title>
        <!-- <meta charset="UTF-8"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/javascript; charset=utf-8" />
        <!-- A stylesheet to make things automatically look nice -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

        <!-- Link to the socket.io info -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>  
    </head>

<body>
    

    <div style="margin: 25px; display: flex; flex-direction: column;float: right">
    <!-- <div style="margin: 25px; display: flex; flex-direction: column;">     -->
        <h1 class="title">Hello {{username}}</h1>                     
        <textarea id="chat" style="width: 400px; height: 550px; font-size: 18px; font-family: monospace; margin-top: 10px;"></textarea>                 
        <div style="display: flex; flex-direction: row;">
            <input type="text" id="textfield_input" style="height: 30px; width: 400px; margin-top: 5px; margin-right: 10px;" class="textfield"> 
            <button id="send_button" onclick="getMessageAndSend()" class="button is-primary" style="margin-top: 5px; width: 90px; height: 30px;">Send</button>
        </div>
        <br><br>
        <div>
            <h1>斗內貼圖區</h1>
            <button id="sc-001" onclick="sendsuperchat()" style="background-image:url(https://play-web-assets.lang.live/public/gift/110129e3e51c484bd61cb04f73fb6bdd);width:60px;height:60px;"></button>
            <button id="sc-002" onclick="sendsuperchat()" style="background-image:url(https://play-web-assets.lang.live/public/gift/f7b4b5575c5f240fb5222beadf197b4f);width:60px;height:60px;"></button>
            <button id="sc-003" onclick="sendsuperchat()" style="background-image:url(https://play-web-assets.lang.live/public/gift/8e688c152906183b34c9fe6e8c9f0604);width:60px;height:60px;"></button>
            <button id="sc-004" onclick="sendsuperchat()" style="background-image:url(https://play-web-assets.lang.live/public/gift/3e70dcdbe4bb73dd0723da8d515ca836);width:60px;height:60px;"></button>
            <button id="sc-005" onclick="sendsuperchat()" style="background-image:url(https://play-web-assets.lang.live/public/gift/b06cf5a92e835c182a43d6d625f6f622);width:60px;height:60px;"></button>
        </div>
    </div>    

    <div style="width: 100%;padding:5px;">
        <video id="video1" height="100%" width="50%" controls="controls" preload="auto" autoplay="autoplay" muted="true">
        </video>
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <!-- <script src="./stream.js"></script> -->
    </div>
    <span></span>
    <div style="width: 100%;padding:5px;">
        <video id="video2" height="100%" width="50%" controls="controls" preload="auto" autoplay="autoplay" muted="true">
        </video>
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <!-- <script src="./stream.js"></script> -->
    </div>





</body>


{% block body_static %}
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <script src="{{ url_for('static', filename='stream.js') }}"></script>
{% endblock %}

</html>
